@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Welcome to Simple Web App</h1>
<p>This is a basic .NET Core MVC application with CSS and JavaScript included.</p>